.transaction-container {
	max-width: 1024px;
	margin: 0 auto;
}

.transaction-container table {
	border-collapse: collapse;
	margin-top: 10px;
	width: 100%;
}

.transaction-container th,
.transaction-container td {
	padding: 5px;
	font-size: 18px;
}

.transaction-container th {
	background-color: lightskyblue;
	color: white;
}

.transaction-container td {
	font-weight: 400;
}

.transaction-container table,
.transaction-container th,
.transaction-container td {
	border: 1px solid #999;
	text-align: left;
}

tbody tr:nth-child(odd) {
	background-color: lightgray;
}
