.header__search {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	max-width: 1024px;
	border: 3px solid #febb02;
	border-radius: 5px;
	padding: 10px 0;
	background-color: white;
	color: lightgray;
	height: 30px;
	position: absolute;
	transform: translateX(-50%);
	bottom: -25px;
	left: 50%;
}

.header__search-item {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.fa-calendar {
	position: relative;
}

.header-search__date {
	position: absolute;
	transform: translate(-50%, 15%);
	left: 50%;
}

.header__search-item input {
	border: none;
	outline: none;
}

.header__search-item span {
	cursor: pointer;
}

.header-search__date {
	position: absolute;
	top: 0;
}

.fa-female {
	position: relative;
}

.quantity-container {
	position: absolute;
	transform: translate(5%, 85%);
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	gap: 10px;
	background-color: white;
	box-shadow: hsl(44, 99%, 50%) 0px 0px 0px 3px;
	width: 200px;
	height: fit-content;
	padding: 5px;
	color: #333;
}

.adult-wrapper,
.children-wrapper,
.room-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.quantity__action {
	display: flex;
	gap: 10px;
}
